<div class="container">
    <div class="col-md">
        In Angular, an Observable is a powerful way to handle asynchronous operations, such as HTTP requests or user
        input. An Observable is a stream of events that can be observed and acted upon. Observables are often used in
        conjunction with operators, which can transform or filter the events in the stream.

        An Observable can emit one or more values over time, and can be either finite (it emits a finite number of
        values and then completes) or infinite (it keeps emitting values until it is unsubscribed or an error occurs).
    </div>
    <router-outlet></router-outlet>
</div>