<div class="my-3" style="text-align: center; background-color:aquamarine;">
    <h2>Map Operator</h2>
</div> 
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <strong>Example - 01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map : </strong>'video' + data
            </p>
            <br>
            <p>Message: <strong class="text-success">{{msg1}}</strong></p>

        </div>
        <div class="col-md-4">
            <strong>Example - 02</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map : </strong>Data * 5 + 5
            </p>
            <br>
            <p>Message: <strong class="text-success">{{msg2}}</strong></p>

        </div>
        <div class="col-md-4">
            <strong>Example - 03</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map : </strong>Map Object Data
            </p>
            <br>
          <ul id="eleContainer"></ul>

        </div>
    </div>
</div>