<div class="my-3" style="text-align: center; background-color:aquamarine;">
    <h2>Take Takeuntil Last Operator</h2>
</div> 
<br> 
<div class="container">
    <p class="bg-light py-2 px-3 border rounded">
        <strong>Random Names:</strong>'Shivani','Nishi', 'Sonu', 'Roshni', 'Thakur', 'Karve', 'Bagdi', 'Tiwari' 
    </p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Example - 01 | Take(4)</strong>
            <hr>
            <ul id="eleContainer">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Example - 02 | TakeLast(5)</strong>
            <hr>
            <ul id="eleContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Example - 03 | TakeUntill(Condition)</strong>
            <hr>
            <ul id="eleContainer3">
            </ul>
        </div>
    </div>
</div>