<div class="my-3" style="text-align: center; background-color:aquamarine;">
    <h2>SwitchMap Operator</h2>
    
</div> 
<br>   
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <strong>Source - 01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos  : </strong>['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul  id="eleContainer">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source - 02 | Map + SwitchAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong>['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul  id="eleContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source - 03 | SwitchMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong>['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="eleContainer3">
            </ul>
        </div>
    </div>
</div>