<div class="my-3" style="text-align: center; background-color:aquamarine;">
    <h2>From Event</h2>
</div> 
<br>   
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
               <button #addBtn 
               class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List</div>
                <div class="card-body">
                 <ul id="eleAppend"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List</div>
                <div class="card-body">
                 <ul id="eleAppend2"></ul>
                </div>
            </div>
        </div>
    </div>
</div>