    <div class="row">
        <div class="col-md-2">             
            <ul class="vedio-list">
                <a routerLink="form-event">
                 <li><strong>Topic :</strong> Form Event</li>
               </a> 
            </ul>
        </div>
        <div class="col-md-2">       
            <ul class="vedio-list">
                <a routerLink="interval-time">
                <li><strong>Topic :</strong>Interval Time</li>
                </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="of-from">
                <li><strong>Topic :</strong>Of-From</li>
            </a>
            </ul>
        </div>
       
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="toarray">
                <li><strong>Topic :</strong>ToArray</li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="custom-observable">
                <li><strong>Topic :</strong>Custom Observable</li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="map">
                <li><strong>Topic :</strong>Map</li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="pluck">
                <li><strong>Topic :</strong>Pluck</li>
            </a>
            </ul>
        </div>

        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="filter">
                <li><strong>Topic :</strong>Filter</li>
            </a>
            </ul>
        </div>

        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="tap">
                <li><strong>Topic :</strong>Tap</li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="take">
                <li><strong>Topic :</strong>Take Takeuntil Last</li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="concat">
                <li><strong>Topic :</strong> Concat Operator</li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="merge">
                <li><strong>Topic :</strong>Merge Operator </li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="replay-subject">
                <li><strong>Topic :</strong>Replay Subject </li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="debounce-time">
                <li><strong>Topic :</strong>Debounce Time </li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="merge-map">
                <li><strong>Topic :</strong>Merge Map (Flattening) </li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="switch-map">
                <li><strong>Topic :</strong>Switch Map</li>
            </a>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="vedio-list">
                <a routerLink="switch-map-search">
                <li><strong>Topic :</strong>Switch Map Search</li>
            </a>
            </ul>
        </div>
    </div>
