<div class="my-3" style="text-align: center; background-color:aquamarine;">
    <h2>Of And From</h2>
</div> 
<br>
<div class="container">
    <strong>Example -01 (Of)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>of('Shivani','Nishi', 'Sonu')
            </p>
            <hr>
            <ul id="eleAppend"></ul>
        </div>
    </div>
    <strong>Example -02 (From)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>from(['Shivani','Nishi', 'Sonu'])
            </p>
            <hr>
            <ul id="eleAppend2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Promise</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>Promise to observable
            </p>
            <hr>
            <ul id="eleAppend3"></ul>
        </div>
        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>String to observable
            </p>
            <hr>
            <ul id="eleAppend4"></ul>
        </div>
    </div>
</div>